/* YA */
@media (max-width : 320px ) {

    body {
        overflow-x: hidden;
    }

    .header ,.footer {
        display: flex;
        background: pink;
        padding: 1rem;
    }

        
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .logo {
        
        font-size: 2rem;
    }

    .nav {
        font-size: 1.4rem;
        margin-top: 1rem;
        flex-direction: column;
    }


    .banner-wrapper {
        height: 20rem;
        background-image: url("../images/secondary-type-image.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sale {
        display: block;
        position: absolute;
        top: 25rem;
        background-color: black;
        width: 145vw;
        text-align: center;
        left: -3rem;
        color: red;
        font-size: 3rem;
        transform: rotate(30deg);
    }

    .nav-link:not(.nav-link:first-child) {
        margin-top: 1rem;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }

    .sidebar {
        display: none;
    }

    .burger-btn-wrapper {
        display: flex;
        justify-content: center;
        background-color: pink;
        width: 100%;
        cursor: pointer;
        font-size: 1.3rem;
        color : wheat;
    }

    .products {
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .product {
        padding: 2rem;
    }

    .product-title {
        font-size: 1.3rem;
    }

    .product-img {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
    }

    .footer {
        font-size: 1.2rem;
    }
}

/* Nzr */
@media (min-width : 320px ) and (max-width : 576px) {
    
}

/* Valeria */
@media (min-width : 576px ) and (max-width : 768px) {
    .header ,.footer {
        display: flex;
        background: goldenrod;
        padding: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input {
        margin-top: 1rem;
        font-size: 1rem;
        border-bottom:1px solid aliceblue;
    }

    .logo {
        font-size: 3rem;
        color: aliceblue;
    }

    .nav {
        font-size: 1.4rem;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }

    .banner-wrapper {
        height: 15rem;
        background-image: url("../images/secondary-type-image\(3\).jpeg");
        background-position: center;
    }

    .sale {
        display: block;
        position: absolute;
        top: 24rem;
        background-color:rgb(166, 149, 19);
        width: 125vw;
        text-align: center;
        left: -3rem;
        color: aliceblue;
        font-size: 3rem;
        transform: rotate(10deg);
    }

    .sidebar {
        background: rgb(226, 181, 99);
    }

    .products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .product{
        background: rgb(232, 192, 117);
    }

    .product-title{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-img-wrapper{
        margin-top: 1rem;
    }

    .product-img{
        width: 10rem;
        height: 10rem;
        border-radius: 20%;
    }

    .product-btn{
        background: rgb(227, 171, 66);
    }
}

/* Evgenia */
@media (min-width : 768px ) and (max-width : 1200px) {
    
}

/* Ruslan */
@media (min-width : 1200px ) {
    
}